<%= form_for(current_user) do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(current_user.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
      <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :image, "Photo" %><br>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit(value = "Update Profile") %>
  </div>
<% end %>
