<div class="row">
  <div class="col-md-2">
    <%= image_tag(@post.img_url, width: '100%') if @post.img_url.present? %>
  </div>

  <div class="col-md-10">
    <h3 style="display:inline">Title: </h3><h4 style="display:inline"><%= link_to @post.title, @post.url %></h4>
    <br>
    <br>
    <h3 style="display:inline">Issue: </h3><h4 style="display:inline"><%= @post.description %></h4>
    <p>
      <% if current_user.id == @post.user_id %> 
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Delete', @post, data: { confirm: 'Are you sure?' }, method: :delete %> |
        <%= link_to 'Back', posts_path %>
      <% end %>
    </p>
    <br>

    <div class="row">
      <div class="col-md-10">
        <%= render 'comments/form' %>
        <br> 
        <h3>Comments</h3>
        <% @comments.reverse.each do |comment| %>
        <br>
          <div>
            <strong><%= comment.user_name %></strong>:
            <%= comment.comment_body %>
            <% if current_user.id == comment.user_id %> 
              <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
     <!-- <%= render 'comments/form' %> -->
  </div>
</div>
